<!-- Mesma animação de entrada da tela de login -->
<div class="animate-in fade-in slide-in-from-bottom-4 duration-700">

  <div class="mb-8 text-left">
    <div class="inline-flex items-center justify-center w-12 h-12 rounded-xl bg-blue-100 dark:bg-blue-900/30 text-brand-primary mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
      </svg>
    </div>
    <h1 class="font-heading text-3xl font-bold tracking-tight text-slate-900 dark:text-white">
      Primeiro Acesso
    </h1>
    <p class="font-body mt-2 text-slate-500 dark:text-slate-400">
      Por questões de segurança, você precisa criar uma senha definitiva antes de prosseguir.
    </p>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="space-y-5">

    <div class="space-y-1">
      <tui-textfield tuiTextfieldSize="l" class="font-body">
        <label tuiLabel>Nova Senha</label>
        <input
          tuiInput
          type="password"
          formControlName="password"
          placeholder="Mínimo de 8 caracteres"
        />
        <tui-icon tuiPassword />
      </tui-textfield>

      <!-- Erro Taiga -->
      @if (passwordForm.get('password')?.touched && passwordForm.get('password')?.hasError('minlength')) {
        <tui-error error="A senha deve ter pelo menos 8 caracteres."></tui-error>
      }
    </div>

    <div class="space-y-1">
      <tui-textfield tuiTextfieldSize="l" class="font-body">
        <label tuiLabel>Confirmar Nova Senha</label>
        <input
          tuiInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Repita sua nova senha"
        />
        <tui-icon tuiPassword />
      </tui-textfield>

      <!-- Erro Cross-Field do Form (Senhas Diferentes) -->
      @if (passwordForm.errors?.['passwordMismatch'] && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('password')?.touched)) {
        <tui-error error="As senhas não conferem."></tui-error>
      }
    </div>

    <button
      tuiButton
      type="submit"
      size="l"
      class="w-full font-heading shadow-lg shadow-blue-600/20 mt-6"
      appearance="primary"
      [loading]="submitting()"
      [disabled]="passwordForm.invalid"
    >
      Acessar o Sistema
    </button>
  </form>

  <p class="font-body mt-8 text-center text-sm text-slate-500 dark:text-slate-400">
    Lembrou sua senha original?
    <a
      tuiLink
      [routerLink]="['/auth/login']"
      class="font-medium text-slate-900 hover:text-brand-primary dark:text-white dark:hover:text-blue-400"
    >
      Voltar para o Login
    </a>
  </p>

</div>
